*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 20px;
}
.eldiv{
    margin: 55px;
    width: 300px;
    height: 500px;
    border: red solid;
    background: #f00;
}
.eldiv2{
    margin: 55px;
    width: 300px;
    height: 500px;
    border: red solid;
    background: rgb(0, 126, 0);
}
.eldiv3{
    margin: 55px;
    width: 300px;
    height: 500px;
    border: red solid;
    background:  rgba(12, 12, 237, 0.3);
}
body{
    background-color: rgb(56, 2, 2);
}


/* cursor */
 