.contac-form{
   font-size: 25px; 
}
.contac-form__h2{
    font-size: 2em; 
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    font-weight: 799;
    color: yellowgreen;
}
/* propiedades de texto */
